@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_variables";
@import "./_override-antd";

.bordered-area {
  border: 1px solid black;
  border-radius: 2 * $unit;
  padding: 4 * $unit;
  width: 500px;
}

.sidebar-search {
  max-width: 300px;
}

.w-100 {
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}
.custom-resize-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

// стили для того, чтобы не показывался курсор ресайза из библиотеки react_resizable
// .react-resizable-handle {
//   background-image: none;
// }

// .react-resizable-handle-se {
//   cursor: default;
// }
